@import "tailwindcss";

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: #1a1a1b;
}

body::-webkit-scrollbar-thumb {
  background-color: #2e2e2e;
  border-radius: 9999px;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #2e2e2e00;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #ffffff; /* Tailwind gray-400 */
  border-radius: 9999px;
}
